---
import Page from '../layouts/Page.astro';
---

<Page>
  <h1>Thanks for Reaching Out!</h1>
  <p>Your message has been received. I’ll get back to you shortly.</p>
  <a href="/">← Back to Home</a>
</Page>
