---
// src/layouts/Layout.astro
import NavBar from '../components/NavBar.astro';
---
---
const { children } = Astro.props;
---
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Brady Michalik</title>
  </head>
  <body>
  <body class="bg-gray-50 text-gray-800">
  <NavBar />
  <main class="px-4 py-8">
    <slot />
  </main>
</body>

    <slot />
  </body>
</html>
